@font-face {
  font-family: "montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

/* body {
  margin: 0;
  font-family: "fira_sanslight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#root {
  // font-family: "fira_sanslight";
  font-family: "montserrat", sans-serif;
  font-weight: 100;
}

.imageLogo {
  height: 100px;
  width: 100px;
}
